body {
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  h1.title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  section p {
    font-family: 'Georgia', serif;
  }
  
  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  
  #override {
    color: blue !important;
  }
  
  footer p {
    font-size: 0.9em;
    text-align: center;
    color: rgb(252, 11, 11);
  }
/*
1. ¿Qué sucede si cambias el orden de las reglas CSS?
que lo mas probable es que algunas no se cumplan ya que se pueden molestar entre ellas u sobreescribirse

2. ¿Cómo afecta la especificidad a los estilos aplicados en el párrafo #override?
afecta cambiandole el color y dandole prioridad frente a los demas css

3. ¿Qué sucede si eliminas el !important de alguna regla?
que puede que no se cumpla ya que se la pueden cambiar

4. ¿Qué reglas son heredadas automáticamente y cuáles necesitas especificar explícitamente?
Se heredan automáticamente color y font-family. Debes especificar explícitamente propiedades como font-size, background-color, text-align, y estilos sobrescritos como en #override.
*/