.column {
    width: 18%;
    float: left;
    margin: 1%;
    padding: 1%;
    background-color: #000000;
    border: 1px solid #e20909;
    color: aliceblue;
}
footer {
    text-align: center;
    padding: 10pxs;
    clear: both;
}
header{
    text-align: center;
}