#a{
    outline-style:solid ;
    outline-color:sandybrown;
}

#b{
    outline-style: groove;
    outline-width:5px;
    outline-color:aqua;
    margin: 30px;
}

#c{
    outline-offset:10px;
    outline-color:gold;
    outline-style:dotted;
}