.container > h2{
    color: red;
}
.container p{
    color: blue;
}
h2+p{
    color: green;
}
.intro ~ p{
    background-color: yellow;
}
h2,.intro{
    margin-bottom: 10px;
}
.container p.intro{
    background-color: gray;
}