h2{
    border-style: dotted;
    border-width: 3px ;
    border-color: blue;
    padding: 10px;
    margin: 20px;
}
p{
    border-style:solid ;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 10px;
    color: green;
}
button{
    border-style:double ;
    border-width: 4px;
    border-color:red;
    border-radius: 15px;
}