menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f4f4f4;
}
a.inicio {
    width: 120px;
    height: 120px;
    display: block;
    background: url(https://img.freepik.com/vector-gratis/conjunto-animacion-botella-pocion-nube-hojaldre_107791-18081.jpg) 10px -20px;
}
a.buscar {
    width: 120px;
    height: 120px;
    display: block;
    background: url(https://img.freepik.com/vector-gratis/conjunto-animacion-botella-pocion-nube-hojaldre_107791-18081.jpg) -91px -30px;
}
a.configurar {
    width: 120px;
    height: 150px;
    display: block;
    background: url(https://img.freepik.com/vector-gratis/conjunto-animacion-botella-pocion-nube-hojaldre_107791-18081.jpg) -210px -10px;
}